body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: ghostwhite center no-repeat;
}

.invisible {
    visibility: hidden !important;
}

.lock-scroll {
    overflow: hidden !important;
}

#infoModal {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    padding: 30px;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: auto;
    min-height: 250px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    min-height: 350px;
    height: auto;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #34568b;
}

.flip-card-back {
    flex-wrap: wrap;
    background-color: #5d7ebb;
    transform: rotateY(180deg);
}

.flip-card-front p, .flip-card-back p {
    margin: auto;
    color: white;
    padding: 15px;
}

.flip-card-front p {
    font-size: x-large;
}

.flip-card-back p {
    flex-basis: 100%;
    font-size: x-large;
}

.flip-card-back > p > b {
    color: #F5DF4D;
}

.flip-card-back > p > b:nth-child(2) {
    color: #FA7A35;
}

.flip-card-back > p > b:nth-child(3) {
    color: #FDAC53;
}

.info-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
}

/* Add @media at the bottom of your CSS file */
@media screen and (max-width: 1024px) {
    .flip-card {
        width: 100%;
        height: 0; /* Reset the height */
        padding-bottom: 100%; /* Set the padding-bottom to maintain aspect ratio */
        position: relative; /* Make .flip-card a containing block for .flip-card-inner */
    }

    .flip-card-inner {
        position: absolute; /* Make .flip-card-inner absolute positioned */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; /* Let it fill the .flip-card element */
    }
}
